body {
  margin: 100px 0 0;
  background-color: whitesmoke;
  font-family:"Open Sans";
  display: flex;
  justify-content: center;
}
*{
  margin: 0;
  padding: 0;
}
/**
  COLORS
 */
.silver {
  color: silver;
}
.blue {
  color: rgb(33,150,243)
}
.green-bg{
  background-color: rgb(139,195,74);
}
.corral-bg {
  background-color: #de6161;
  color: white;
}
.corral {
  color: #de6161;
}
.yellow-bg {
  background-color: rgb(255,204,2);
}
.violet-bg {
  background-color: rgb(88,86,213)
}
.silver-bg {
  background-color: silver;
}
.blue-bg {
  background-color: rgb(33,150,243)
}



.small{
  font-size: 0.8rem;
}
.bolder {
  font-weight: 750;
}
.circle {
  height: 9px;
  width: 9px;
  border:1.5px solid white;
  border-radius: 50%;
  display: inline-block;
}
