.error-block {
    margin-bottom: 20px;
}
.error-block__error-bar {
    width: 100%;
    height: 5px;
    margin-bottom: 30px;
    display: flex;
}


.error-block__error-bar span {
    margin-right:1px;
}
.error-block__error-bar span:first-child{
    border: 1px solid transparent;
    border-top-left-radius: 1.5px;
    border-bottom-left-radius: 1.5px;
}
.error-block__error-bar span:last-child{
    border:none;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 1.5px;
    border-bottom-right-radius: 1.5px;
}


.error-block__detailed-block {
    display: flex;
}


.error-bar__detailed{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.error-bar__detailed span {
    display: block;
}
.detailed__rectangle {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    margin-right: 4px;
}

.no-error{
    position: relative;
    top: -23px;
    left:260px;
    color: silver;
}
