*{
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 10%;
}
#main-metrics{
    border: 1px solid silver;
    box-shadow: 0 0 10px rgba(0,0,0,0.2); /* Параметры тени */
    border-radius: 6px;
    padding: 5px;
}
#title{
    margin-bottom: 1.2rem
}

nav{
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;

}
nav :not(:last-child){
    display: inline-block;
    border-right: 1px solid black;
}
.chosen{
    background-color: blue;
}
