.header-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
.header-info__item{
    display: flex;
}
.header-info__circle-wrapper{
    margin-right: 3px;
}
